{% extends "bootstrap/base.html" %}


{% block title %}

{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='starter-template.css')}}">
{% endblock %}

{% block body %}
<style type="text/css">
  body{
    background-color: #eee;
  }
  p{
    color: white;
  }
  a{
    color: white;
  }
  .footer {
    position: fixed;
   left: 0;

   bottom: 0;
   width: 100%;
   height: 12%;
   background-color: black;
   text-align: center;
  }
  h2,h3{

    text-align: center;
  }
  li{
    text-align: center;
  }
  time{
    text-align: center;
  }
</style>
<p><h2>New Futures!</h2></p>

    <h3><time>Date: 28.04.21</time></h3>

     <li><strike>Зворотній звязок</strike></li>
     <li><strike>Оптимізація кода</strike></li>
     <li><strike>Flash при створенні нового користувача</strike></li>

     <h3>В процесі</h3>
     <li><strike>добавити поле штрихкод</strike><time>  Date: 29.04.21</time></li>
     <li>функції по приходу та продажам та залишку</li>
     <li>ролі користувачів
     -free account
   -payd account</li>
   <li>додати поле закупівельна ціна, % накрутки, ціна продажу </li>
   <li>додати перевірку на однаковий імейл</li>
     

   

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('login') }}">Login</a></li>
            <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    

    </div><!-- /.container -->
    <div class="footer">
      <p>28.04.2021</p>
      <p>Tel: +38(093)563-94-68</p>
      <a href = "mailto: Grebenyukupp@gmail.com">----> To contact us <----</a>
    </div>
    
{% endblock %}